@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yaldevi&display=swap');

.App {
  display: flex;
  justify-content: center;
}

body{
  background-color: #D8DCFF;
}

h1{
  font-family: 'Anton';
  text-align: center;
  margin: 25px;
  color: #565676;
}

h2{
  color: #AEADF0;
}

p{
  font-family: 'Yaldevi';
  text-align: center;
}

img{
  width: 75%;
  text-align: center;
}

.info{
  display: flex;
  flex-direction: row;
  justify-content:center;
  border: thick double #32a1ce;
  border-radius: 25px;
  width: 80%;
  margin: auto;
  padding: 10px;
}

.weatherInfo{
  display: flex;
  flex-direction: column;
  margin-right: 25px;
}

.temp{
  display: flex;
  flex-direction: column;
}